body {
    /*background-image: url("./img/background.jpg");*/
background-color: rgb(240, 240, 240);
    padding:20px;
    background-size: cover; /* Makes the background image cover the entire screen */
    background-position: center; /* Centers the image */
    font-family: 'Courier New', Courier, monospace;
   

}

.left-side-2{
    width:25%;
    background-color: aqua;
}

.img{
    
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;

}
.big-container{
    height:100vh;}

 .d-flex {
        display: flex;
      }

.left-side{
    flex:1;
       background-color: aqua;
}

.right-side{
    flex:2;
}

.grid-container {
    display: grid;
    height:fit-content;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
    height: auto; /* 高度自适应内容 */
    min-height: 300px; /* 设置最小高度 */
    width: max-content;

}

.block-1 { grid-column: 3; grid-row: 1; }
        .block-2 { grid-column: 2; grid-row: 2; }
        .block-3 { grid-column: 3; grid-row: 2; }
        .block-4 { grid-column: 4; grid-row: 2; }
        .block-5 { grid-column: 1; grid-row: 3; }
        .block-6 { grid-column: 4; grid-row: 3; }
        .block-7 { grid-column: 5; grid-row: 3; }

.color-block{
    background-color: blue; 
    width:150px;
    height:150px;
}

.poem{
 font-size: 10px;

}


            #nice {
        color: green;
        font-size: 40px;}

